.App {
  text-align: center;
}

.calendar_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid blue;
  padding: 10px;
  width: 1080px;
  margin: 0 auto;
  border-radius: 4px;
  transition: all 0.3s linear;
}

@media (max-width: 1080px) {
  .calendar_wrap{
    width: 100%;  
  }
}